<h1> Listing of all articles </h1>

<p>
<%= link_to "Create new article", new_article_path %>
</p>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>


  <% @categories.each do |category| %>
  <tr>
    <td><%= category.title %></td>
    <td><%= category.description %></td>
    <td><%= link_to 'Edit', edit_article_path(category) %></td>
    <td><%= link_to 'Show', article_path(category) %></td>

  </tr>

  <% end %>

</table>



